<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{:: #content},~{::title},~{::script})}">
<head>
    <title>About page</title>
</head>
<body>
    <div id="content">
        <h1>Welcome to About page</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus, deserunt neque. Dolores autem suscipit quis itaque vero totam debitis nisi unde
        </p>
    </div>
    <script>console.log("about page");</script>
    <script>console.log("second about page");</script>
</body>
</html>