<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            margin: auto;
            width: 50%;
            padding: 30px;
            background: #e2e2e2;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 data-th-text="${name}" >Welcome to Home Page</h1>
        <p>Source : <span data-th-text="${source }"></span></p>
        
        <a data-th-href="${githubRepo}">Click here to Open</a>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, possimus assumenda. Laborum quod dolorum corrupti, deleniti nemo officia at tempora ipsum molestiae odit eos cumque a earum laudantium sint accusamus!
        Modi ratione laborum error velit, aperiam, molestias amet quo quidem id accusamus aut alias fuga reprehenderit. Consectetur alias molestias animi minus voluptas eaque magni, sit sapiente maiores? Odit, optio reprehenderit!
        Ullam, officia perferendis repellendus error molestias alias impedit vel quasi sunt temporibus veritatis, ex neque accusantium! Impedit fugit rerum illo non accusantium facilis nostrum quisquam, necessitatibus, dolor recusandae consequatur quidem.
        Saepe atque inventore dicta magnam nemo delectus vel debitis autem odio exercitationem repudiandae magni iste, consequatur tenetur eveniet veritatis quisquam non laudantium dolorem illo cupiditate ea deserunt. Necessitatibus, vero voluptatem!
        Non maxime pariatur molestias distinctio, blanditiis, qui nulla, praesentium ipsam facilis dolor fuga! Unde, quod? Nulla, in dolores eligendi maiores reiciendis illo eaque iusto. Amet natus sunt in aut dicta.</p>
    </div>
</body>
</html>