<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{:: #content},~{::title},~{::script})}"> 
<head>
    <title>Services page</title>
</head>
<body>
    <div id="content">
        <h1>Welcome to Service page</h1>
        <h2>Services offered by SCM</h2>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur ipsum blanditiis, ea reprehenderit quia iure, rem inventore nemo provident amet laudantium eum quis? Temporibus eius accusamus eveniet, error sit commodi.
    </div>
    <script>console.log("services page");</script>
</body>
</html>